body {
    background: #4E8098;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background: #A31621;
    border-radius: 15px;
    width: 375px;
    text-align: center;
}

.top {
    height: 120px;
}

 .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCF7F8;
    height: 115px;
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
 }

 .bottom {
    height: 20px;
 }

 .hello {
     font-size: 4.5rem;
     line-height: 1.2;
     color: #FCF7F8;
     font-family: 'Montserrat Alternates', sans-serif;
     font-weight: 900;
 }

 .my-name-is {
     font-size: 1.75rem;
     line-height: .5;
     color: #FCF7F8;
     font-family: 'Kanit', sans-serif;
     font-weight: 400;
 }